<form [formGroup]="contactsForm" (ngSubmit)="logForm()">
    <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!contactsForm.valid"> {{ formMode == 1 ? 'Edit Contact' : 'Add Contact' }}
    </ion-button>
</form>