<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact Persons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ng-container *ngIf="groupedContacts$ | async as contactGroups">
      <ion-label *ngFor="let contactGroupKey of contactGroups | getContactGroupKeys">
        <h1>Letter: {{ contactGroupKey }}</h1>
        <app-contact-person *ngFor="let contact of contactGroups[contactGroupKey]" [contactPerson]="contact"
          (deletePersonClicked)="onDeletePersonClicked($event)"></app-contact-person>
      </ion-label>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/contact-person/add'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>